:root {
  --websitedemos-net-semantic-heading-1-upper-font-family: "Jost", Helvetica;
  --websitedemos-net-semantic-heading-1-upper-font-weight: 500;
  --websitedemos-net-semantic-heading-1-upper-font-size: 70px;
  --websitedemos-net-semantic-heading-1-upper-letter-spacing: 8.5px;
  --websitedemos-net-semantic-heading-1-upper-line-height: 98px;
  --websitedemos-net-semantic-heading-1-upper-font-style: normal;
  --websitedemos-net-semantic-heading-2-upper-font-family: "Jost", Helvetica;
  --websitedemos-net-semantic-heading-2-upper-font-weight: 500;
  --websitedemos-net-semantic-heading-2-upper-font-size: 41px;
  --websitedemos-net-semantic-heading-2-upper-letter-spacing: 3.299999952316284px;
  --websitedemos-net-semantic-heading-2-upper-line-height: 53.29999923706055px;
  --websitedemos-net-semantic-heading-2-upper-font-style: normal;
  --websitedemos-net-semantic-heading-3-upper-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-heading-3-upper-font-weight: 400;
  --websitedemos-net-semantic-heading-3-upper-font-size: 16px;
  --websitedemos-net-semantic-heading-3-upper-letter-spacing: 0px;
  --websitedemos-net-semantic-heading-3-upper-line-height: 20.799999237060547px;
  --websitedemos-net-semantic-heading-3-upper-font-style: normal;
  --websitedemos-net-semantic-heading-4-upper-font-family: "Jost", Helvetica;
  --websitedemos-net-semantic-heading-4-upper-font-weight: 500;
  --websitedemos-net-semantic-heading-4-upper-font-size: 20px;
  --websitedemos-net-semantic-heading-4-upper-letter-spacing: 0px;
  --websitedemos-net-semantic-heading-4-upper-line-height: 25px;
  --websitedemos-net-semantic-heading-4-upper-font-style: normal;
  --websitedemos-net-semantic-heading-6-upper-font-family: "Jost", Helvetica;
  --websitedemos-net-semantic-heading-6-upper-font-weight: 500;
  --websitedemos-net-semantic-heading-6-upper-font-size: 15px;
  --websitedemos-net-semantic-heading-6-upper-letter-spacing: 2px;
  --websitedemos-net-semantic-heading-6-upper-line-height: 18.75px;
  --websitedemos-net-semantic-heading-6-upper-font-style: normal;
  --websitedemos-net-semantic-input-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-input-font-weight: 400;
  --websitedemos-net-semantic-input-font-size: 17px;
  --websitedemos-net-semantic-input-letter-spacing: 0px;
  --websitedemos-net-semantic-input-line-height: normal;
  --websitedemos-net-semantic-input-font-style: normal;
  --websitedemos-net-semantic-item-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-item-font-weight: 400;
  --websitedemos-net-semantic-item-font-size: 17px;
  --websitedemos-net-semantic-item-letter-spacing: 0px;
  --websitedemos-net-semantic-item-line-height: 25.5px;
  --websitedemos-net-semantic-item-font-style: normal;
  --websitedemos-net-semantic-label-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-label-font-weight: 400;
  --websitedemos-net-semantic-label-font-size: 14.899999618530273px;
  --websitedemos-net-semantic-label-letter-spacing: 0px;
  --websitedemos-net-semantic-label-line-height: 29.75px;
  --websitedemos-net-semantic-label-font-style: normal;
  --websitedemos-net-semantic-link-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-link-font-weight: 700;
  --websitedemos-net-semantic-link-font-size: 11px;
  --websitedemos-net-semantic-link-letter-spacing: -0.5px;
  --websitedemos-net-semantic-link-line-height: 17px;
  --websitedemos-net-semantic-link-font-style: normal;
  --websitedemos-net-semantic-link-upper-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-link-upper-font-weight: 400;
  --websitedemos-net-semantic-link-upper-font-size: 17px;
  --websitedemos-net-semantic-link-upper-letter-spacing: 2.5px;
  --websitedemos-net-semantic-link-upper-line-height: 100px;
  --websitedemos-net-semantic-link-upper-font-style: normal;
  --websitedemos-net-semantic-options-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-options-font-weight: 400;
  --websitedemos-net-semantic-options-font-size: 17px;
  --websitedemos-net-semantic-options-letter-spacing: 0px;
  --websitedemos-net-semantic-options-line-height: 20px;
  --websitedemos-net-semantic-options-font-style: normal;
  --websitedemos-net-semantic-textarea-font-family: "Roboto", Helvetica;
  --websitedemos-net-semantic-textarea-font-weight: 400;
  --websitedemos-net-semantic-textarea-font-size: 17px;
  --websitedemos-net-semantic-textarea-letter-spacing: 0px;
  --websitedemos-net-semantic-textarea-line-height: 28.899999618530273px;
  --websitedemos-net-semantic-textarea-font-style: normal;
  --websitedemos-net-font-awesome-5-brands-regular-font-family: "Font Awesome 5 Brands",
    Helvetica;
  --websitedemos-net-font-awesome-5-brands-regular-font-weight: 400;
  --websitedemos-net-font-awesome-5-brands-regular-font-size: 16px;
  --websitedemos-net-font-awesome-5-brands-regular-letter-spacing: 0px;
  --websitedemos-net-font-awesome-5-brands-regular-line-height: 16px;
  --websitedemos-net-font-awesome-5-brands-regular-font-style: normal;
  --websitedemos-net-font-awesome-5-free-solid-font-family: "Font Awesome 5 Free",
    Helvetica;
  --websitedemos-net-font-awesome-5-free-solid-font-weight: 400;
  --websitedemos-net-font-awesome-5-free-solid-font-size: 16px;
  --websitedemos-net-font-awesome-5-free-solid-letter-spacing: 0px;
  --websitedemos-net-font-awesome-5-free-solid-line-height: 16px;
  --websitedemos-net-font-awesome-5-free-solid-font-style: normal;
  --websitedemos-net-jost-regular-font-family: "Jost", Helvetica;
  --websitedemos-net-jost-regular-font-weight: 400;
  --websitedemos-net-jost-regular-font-size: 25px;
  --websitedemos-net-jost-regular-letter-spacing: 0px;
  --websitedemos-net-jost-regular-line-height: 35px;
  --websitedemos-net-jost-regular-font-style: normal;
  --websitedemos-net-roboto-regular-upper-font-family: "Roboto", Helvetica;
  --websitedemos-net-roboto-regular-upper-font-weight: 400;
  --websitedemos-net-roboto-regular-upper-font-size: 16px;
  --websitedemos-net-roboto-regular-upper-letter-spacing: 3px;
  --websitedemos-net-roboto-regular-upper-line-height: 16px;
  --websitedemos-net-roboto-regular-upper-font-style: normal;
  --websitedemos-net-roboto-regular-font-family: "Roboto", Helvetica;
  --websitedemos-net-roboto-regular-font-weight: 400;
  --websitedemos-net-roboto-regular-font-size: 15px;
  --websitedemos-net-roboto-regular-letter-spacing: 1.2000000476837158px;
  --websitedemos-net-roboto-regular-line-height: 28.899999618530273px;
  --websitedemos-net-roboto-regular-font-style: normal;
  --websitedemos-net-roboto-semibold-upper-font-family: "Roboto", Helvetica;
  --websitedemos-net-roboto-semibold-upper-font-weight: 600;
  --websitedemos-net-roboto-semibold-upper-font-size: 12px;
  --websitedemos-net-roboto-semibold-upper-letter-spacing: 2px;
  --websitedemos-net-roboto-semibold-upper-line-height: 18px;
  --websitedemos-net-roboto-semibold-upper-font-style: normal;
  --websitedemos-net-roboto-medium-font-family: "Roboto", Helvetica;
  --websitedemos-net-roboto-medium-font-weight: 500;
  --websitedemos-net-roboto-medium-font-size: 17px;
  --websitedemos-net-roboto-medium-letter-spacing: 0px;
  --websitedemos-net-roboto-medium-line-height: 25.5px;
  --websitedemos-net-roboto-medium-font-style: normal;
}
