.element-light {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #ffffff;
}

.element-light .div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .div-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .container {
  display: flex;
  max-width: 1920px;
  width: 1920px;
  min-height: 1490.27px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.element-light .main-article-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.element-light .main-article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 120px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .background {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  width: 1920px;
  min-height: 600px;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-image: url(./img/background.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .container-wrapper {
  display: flex;
  width: 1140px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element-light .container-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.element-light .container-3 {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .div-wrapper-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-light .text-wrapper {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-heading-1-upper-font-family);
  font-weight: var(--websitedemos-net-semantic-heading-1-upper-font-weight);
  color: #2c541d;
  font-size: var(--websitedemos-net-semantic-heading-1-upper-font-size);
  text-align: center;
  letter-spacing: var(
    --websitedemos-net-semantic-heading-1-upper-letter-spacing
  );
  line-height: var(--websitedemos-net-semantic-heading-1-upper-line-height);
  font-style: var(--websitedemos-net-semantic-heading-1-upper-font-style);
}

.element-light .container-4 {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .container-5 {
  display: flex;
  width: 1140px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element-light .overlay-shadow {
  position: relative;
  align-self: stretch;
  width: 559.42px;
  background-color: #ffffff01;
  box-shadow: 0px 0px 10px #00000080;
}

.element-light .container-6 {
  display: flex;
  flex-direction: column;
  max-width: 559.42px;
  width: 539px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 10px;
}

.element-light .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Jost-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 37px;
  letter-spacing: 0;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.element-light .overlay-shadow-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 559.42px;
  width: 539px;
  align-items: flex-start;
  justify-content: center;
  padding: 15px 0px 0px;
  position: absolute;
  top: 78px;
  left: 10px;
}

.element-light .form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff01;
  box-shadow: 0px 4px 51px #0000000a;
}

.element-light .form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.01px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .container-7 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 0px 9.99px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .input {
  display: flex;
  flex-direction: column;
  max-width: 439.42px;
  align-items: flex-start;
  padding: 17.75px 13.75px 18.64px;
  position: relative;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
}

.element-light .container-8 {
  position: relative;
  align-self: stretch;
  width: 100%;
  border: none;
  background: none;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-input-font-family);
  font-weight: var(--websitedemos-net-semantic-input-font-weight);
  color: #757575;
  font-size: var(--websitedemos-net-semantic-input-font-size);
  letter-spacing: var(--websitedemos-net-semantic-input-letter-spacing);
  line-height: var(--websitedemos-net-semantic-input-line-height);
  font-style: var(--websitedemos-net-semantic-input-font-style);
  padding: 0;
}

.element-light .overlap-group-wrapper {
  position: relative;
  max-width: 439.42px;
  width: 100%;
  height: 56.39px;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d9d9d9;
}

.element-light .overlap-group {
  position: relative;
  width: 412px;
  height: 29px;
  top: 14px;
  left: 14px;
}

.element-light .container-9 {
  display: flex;
  flex-direction: column;
  width: 397px;
  align-items: flex-start;
  position: absolute;
  top: 4px;
  left: 0;
}

.element-light .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-input-font-family);
  font-weight: var(--websitedemos-net-semantic-input-font-weight);
  color: #757575;
  font-size: var(--websitedemos-net-semantic-input-font-size);
  letter-spacing: var(--websitedemos-net-semantic-input-letter-spacing);
  line-height: var(--websitedemos-net-semantic-input-line-height);
  white-space: nowrap;
  font-style: var(--websitedemos-net-semantic-input-font-style);
}

.element-light .container-10 {
  display: flex;
  width: 412px;
  align-items: center;
  justify-content: center;
  padding: 0px 15px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.element-light .container-11 {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 28.89px;
}

.element-light .textarea {
  display: flex;
  flex-direction: column;
  height: 120px;
  align-items: flex-start;
  padding: 13.75px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #ffffff;
  overflow: scroll;
  border: 1px solid;
  border-color: #d9d9d9;
}

.element-light .textarea::-webkit-scrollbar {
  width: 0;
  display: none;
}

.element-light .text-wrapper-4 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-textarea-font-family);
  font-weight: var(--websitedemos-net-semantic-textarea-font-weight);
  color: #757575;
  font-size: var(--websitedemos-net-semantic-textarea-font-size);
  letter-spacing: var(--websitedemos-net-semantic-textarea-letter-spacing);
  line-height: var(--websitedemos-net-semantic-textarea-line-height);
  font-style: var(--websitedemos-net-semantic-textarea-font-style);
}

.element-light .component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .component {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #74a84a;
}

.element-light .text {
  font-family: var(--websitedemos-net-roboto-regular-upper-font-family);
  color: #ffffff;
  font-size: var(--websitedemos-net-roboto-regular-upper-font-size);
  text-align: center;
  letter-spacing: var(--websitedemos-net-roboto-regular-upper-letter-spacing);
  line-height: var(--websitedemos-net-roboto-regular-upper-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--websitedemos-net-roboto-regular-upper-font-weight);
  white-space: nowrap;
  font-style: var(--websitedemos-net-roboto-regular-upper-font-style);
}

.element-light .container-12 {
  position: relative;
  align-self: stretch;
  width: 560.58px;
}

.element-light .container-13 {
  display: flex;
  flex-direction: column;
  max-width: 560.58px;
  width: 481px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 70px;
}

.element-light .overlap {
  position: absolute;
  width: 481px;
  height: 429px;
  top: 78px;
  left: 70px;
}

.element-light .container-14 {
  display: flex;
  flex-direction: column;
  max-width: 560.58px;
  width: 481px;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.element-light .container-15 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 59.8px;
}

.element-light .margin {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 22px 0px 0px;
  position: absolute;
  top: 0;
  left: 0;
}

.element-light .div-wrapper-3 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-light .img-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.element-light .img {
  position: relative;
  width: 42px;
  height: 42px;
}

.element-light .container-16 {
  display: flex;
  flex-direction: column;
  width: 417px;
  align-items: flex-start;
  gap: 4px;
  position: absolute;
  top: -1px;
  left: 64px;
}

.element-light .heading {
  align-items: flex-start;
  padding: 0px 0px 0.8px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-heading-3-upper-font-family);
  font-weight: var(--websitedemos-net-semantic-heading-3-upper-font-weight);
  color: #585858;
  font-size: var(--websitedemos-net-semantic-heading-3-upper-font-size);
  letter-spacing: var(
    --websitedemos-net-semantic-heading-3-upper-letter-spacing
  );
  line-height: var(--websitedemos-net-semantic-heading-3-upper-line-height);
  font-style: var(--websitedemos-net-semantic-heading-3-upper-font-style);
}

.element-light .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-jost-regular-font-family);
  font-weight: var(--websitedemos-net-jost-regular-font-weight);
  color: #2c541d;
  font-size: var(--websitedemos-net-jost-regular-font-size);
  letter-spacing: var(--websitedemos-net-jost-regular-letter-spacing);
  line-height: var(--websitedemos-net-jost-regular-line-height);
  font-style: var(--websitedemos-net-jost-regular-font-style);
}

.element-light .container-17 {
  display: flex;
  flex-direction: column;
  max-width: 560.58px;
  width: 481px;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0px 0px;
  position: absolute;
  top: 110px;
  left: 0;
}

.element-light .container-18 {
  display: flex;
  flex-direction: column;
  max-width: 560.58px;
  width: 481px;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 0px 0px;
  position: absolute;
  top: 220px;
  left: 0;
}

.element-light .container-19 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 94.8px;
}

.element-light .container-20 {
  display: flex;
  flex-direction: column;
  width: 417px;
  align-items: flex-start;
  gap: 3.99px;
  position: absolute;
  top: -1px;
  left: 64px;
}

.element-light .container-21 {
  display: flex;
  flex-direction: column;
  max-width: 560.58px;
  width: 481px;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 0px 0px 65px;
  position: absolute;
  top: 364px;
  left: 0;
}

.element-light .follow-us {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-heading-4-upper-font-family);
  font-weight: var(--websitedemos-net-semantic-heading-4-upper-font-weight);
  color: #000000;
  font-size: var(--websitedemos-net-semantic-heading-4-upper-font-size);
  letter-spacing: var(
    --websitedemos-net-semantic-heading-4-upper-letter-spacing
  );
  line-height: var(--websitedemos-net-semantic-heading-4-upper-line-height);
  font-style: var(--websitedemos-net-semantic-heading-4-upper-font-style);
}

.element-light .container-22 {
  display: flex;
  flex-direction: column;
  max-width: 560.58px;
  width: 481px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 0px 0px 65px;
  position: absolute;
  top: 507px;
  left: 70px;
}

.element-light .container-23 {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .component-2 {
  display: flex;
  width: 32px;
  align-items: center;
  justify-content: center;
  padding: 8px 0px;
  position: relative;
  background-color: #74a84a;
  border-radius: 16px;
}

.element-light .container-24 {
  position: relative;
  width: 16px;
  height: 16px;
}

.element-light .container-25 {
  display: flex;
  flex-direction: column;
  width: 10px;
  align-items: center;
  position: relative;
  left: 3px;
}

.element-light .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-font-awesome-5-brands-regular-font-family);
  font-weight: var(--websitedemos-net-font-awesome-5-brands-regular-font-weight);
  color: #ffffff;
  font-size: var(--websitedemos-net-font-awesome-5-brands-regular-font-size);
  text-align: center;
  letter-spacing: var(
    --websitedemos-net-font-awesome-5-brands-regular-letter-spacing
  );
  line-height: var(--websitedemos-net-font-awesome-5-brands-regular-line-height);
  white-space: nowrap;
  font-style: var(--websitedemos-net-font-awesome-5-brands-regular-font-style);
}

.element-light .container-26 {
  display: flex;
  flex-direction: column;
  width: 16px;
  align-items: center;
  position: relative;
}

.element-light .container-27 {
  display: flex;
  flex-direction: column;
  width: 14px;
  align-items: center;
  position: relative;
  left: 1px;
}

.element-light .text-3 {
  font-family: var(--websitedemos-net-font-awesome-5-free-solid-font-family);
  color: #ffffff;
  font-size: var(--websitedemos-net-font-awesome-5-free-solid-font-size);
  text-align: center;
  letter-spacing: var(
    --websitedemos-net-font-awesome-5-free-solid-letter-spacing
  );
  line-height: var(--websitedemos-net-font-awesome-5-free-solid-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--websitedemos-net-font-awesome-5-free-solid-font-weight);
  white-space: nowrap;
  font-style: var(--websitedemos-net-font-awesome-5-free-solid-font-style);
}

.element-light .footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1px 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-color: #eaeaea;
}

.element-light .container-28 {
  display: flex;
  flex-direction: column;
  height: 98.3px;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.element-light .container-29 {
  display: flex;
  max-width: 1180px;
  width: 1180px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .nav-site-navigation-wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.element-light .nav-site-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-light .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .link-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.element-light .link {
  display: flex;
  align-items: center;
  padding: 0px 12px 0.89px 0px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-light .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1.45px;
  font-family: "Roboto-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 15px;
  letter-spacing: 0;
  line-height: 28.9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 0;
  -webkit-box-orient: vertical;
}

.element-light .aside-footer-widget-wrapper {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  padding: 34px 0px;
  position: relative;
}

.element-light .aside-footer-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.73px 0px 0.01px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .EARTH-STORE-png {
  position: relative;
  max-width: 360px;
  width: 169px;
  height: 29.56px;
  background-image: url(./img/EARTH-STORE-png.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .container-30 {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  align-items: center;
  justify-content: center;
  gap: 0px 0px;
  padding: 0px 40px 0px 0px;
  position: relative;
}

.element-light .container-31 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element-light .container-32 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .p {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-roboto-regular-font-family);
  font-weight: var(--websitedemos-net-roboto-regular-font-weight);
  color: #000000;
  font-size: var(--websitedemos-net-roboto-regular-font-size);
  text-align: right;
  letter-spacing: var(--websitedemos-net-roboto-regular-letter-spacing);
  line-height: var(--websitedemos-net-roboto-regular-line-height);
  font-style: var(--websitedemos-net-roboto-regular-font-style);
}

.element-light .header {
  display: flex;
  flex-direction: column;
  width: 1920px;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.element-light .container-33 {
  display: flex;
  flex-direction: column;
  max-width: 1220px;
  width: 1220px;
  min-height: 100px;
  align-items: flex-start;
  justify-content: center;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .container-34 {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.element-light .container-35 {
  display: flex;
  width: 421.88px;
  align-items: center;
  position: relative;
  align-self: stretch;
  margin-left: -0.01px;
}

.element-light .container-36 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 17px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .planet-earth-store {
  position: relative;
  max-width: 200px;
  width: 200px;
  height: 35px;
  background-image: url(./img/planet-earth-store.png);
  background-size: cover;
  background-position: 50% 50%;
}

.element-light .container-37 {
  display: flex;
  width: 738.13px;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  align-self: stretch;
  margin-right: -0.01px;
}

.element-light .container-38 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 0px 0px;
  padding: 0px 10px 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .container-39 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
}

.element-light .list-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 0px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element-light .list-2 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .link-2 {
  display: flex;
  align-items: center;
  padding: 0px 17px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-light .text-4 {
  font-family: var(--websitedemos-net-semantic-link-upper-font-family);
  color: #000000;
  font-size: var(--websitedemos-net-semantic-link-upper-font-size);
  letter-spacing: var(--websitedemos-net-semantic-link-upper-letter-spacing);
  line-height: var(--websitedemos-net-semantic-link-upper-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--websitedemos-net-semantic-link-upper-font-weight);
  white-space: nowrap;
  font-style: var(--websitedemos-net-semantic-link-upper-font-style);
}

.element-light .text-5 {
  font-family: var(--websitedemos-net-semantic-link-upper-font-family);
  color: #2c541d;
  font-size: var(--websitedemos-net-semantic-link-upper-font-size);
  letter-spacing: var(--websitedemos-net-semantic-link-upper-letter-spacing);
  line-height: var(--websitedemos-net-semantic-link-upper-line-height);
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-weight: var(--websitedemos-net-semantic-link-upper-font-weight);
  white-space: nowrap;
  font-style: var(--websitedemos-net-semantic-link-upper-font-style);
}

.element-light .container-40 {
  display: inline-flex;
  min-height: 100px;
  align-items: center;
  padding: 28.2px 10px 28.21px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .container-41 {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px 0px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .link-view-shopping-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-light .link-view-shopping {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .container-42 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6.8px 6.8px 4.79px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 3px;
}

.element-light .container-43 {
  display: flex;
  align-items: flex-start;
  padding: 0px 2px 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .component-3 {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: -0.01px;
}

.element-light .background-shadow {
  display: flex;
  flex-direction: column;
  width: 18px;
  height: 18px;
  align-items: center;
  padding: 0px 2px 0px 0px;
  position: absolute;
  top: -8px;
  left: 24px;
  background-color: #000000;
  border-radius: 99px;
  box-shadow: 1px 1px 3px #0000004c;
}

.element-light .text-wrapper-8 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--websitedemos-net-semantic-link-font-family);
  font-weight: var(--websitedemos-net-semantic-link-font-weight);
  color: #ffffff;
  font-size: var(--websitedemos-net-semantic-link-font-size);
  text-align: center;
  letter-spacing: var(--websitedemos-net-semantic-link-letter-spacing);
  line-height: var(--websitedemos-net-semantic-link-line-height);
  white-space: nowrap;
  font-style: var(--websitedemos-net-semantic-link-font-style);
}

.element-light .container-44 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
  position: relative;
  flex: 0 0 auto;
}

.element-light .link-account-icon-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-light .link-account-icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.element-light .component-4 {
  position: relative;
  width: 23px;
  height: 23px;
}
